- name: btc_2023_sideways_trainH1_evalQ4
  symbol: BTCUSD
  timeframe: 15Min
  warmup_days: 30
  start: "2023-01-01"
  end: "2023-12-31"
  eval_start: "2023-10-01"
  eval_end: "2023-12-31"

- name: aapl_2024_bull_trainH1_evalQ4
  symbol: AAPL
  timeframe: 15Min
  warmup_days: 30
  start: "2024-01-01"
  end: "2024-12-31"
  eval_start: "2024-10-01"
  eval_end: "2024-12-31"

- name: aapl_2022_bear_trainH1_evalQ4
  symbol: AAPL
  timeframe: 15Min
  warmup_days: 30
  start: "2022-01-01"
  end: "2022-12-31"
  eval_start: "2022-10-01"
  eval_end: "2022-12-31"